.shows .tile-show {
    height: 350px;
    margin: 20px auto;
}

.tile {
    text-align: center;
    padding: 15px 25px;
    border: solid 1px #ebebeb;
    height: 325px;
    margin-bottom: 15px;
}

.tile img {
    max-height: 200px;
}

.show {
    display: block;
}

.col-sm-4 {
    display: flex;
    flex-wrap: wrap;
}

.hidden {
    visibility: hidden;
}

.link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

#compare {
    margin-top: 15px;
    padding-left: 40px;
    padding-bottom: 70px;
}